.form-inline {
    display: inline;
    flex-flow: row wrap;
    align-items: center;

}
.form-inline label {
    justify-content: flex-start;
    text-align: left;
    padding-right: 5%;
    width: 20%;
}
.form-inline select {
    width: 40%;

}

#SaveSettings {
    width: 10%;
    text-align: center;
}

#DoggoSettings {
    padding-bottom: 10%;
}